 /*RESET CSS BÁSICO, BASADO EN LA VERSIÓN 2.O DEL RESET.CSS DE ERIC ME- YER*/
 *{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
     vertical-align: baseline;
    scroll-behavior: smooth;
    }
    article, aside, details, figcaption, figure, main, footer, header, hgroup, nav, section
    {
    display: block;
    }
    body
    {
        background-color: rgb(15, 25, 35);
    line-height: 1;
    }
    ol, ul
    {
    list-style: none;
    }
    table
    {
    border-collapse: collapse;
    border-spacing: 0; }




/* apartado de atributos sin class ni id  */

header {
    padding-top: 8px;
    transform: translateY(-3px);
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(rgb(15, 25, 35),rgb(15, 25, 35),rgba(15, 25, 35, 0));
    z-index: 9;
    display: flex;
    justify-content: space-between
}



h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    text-align: center;
    display: flex;
    font-size: 50px;
    padding: 2rem;

}



    h1 { /*Animacion titulo*/
        animation: animaciotitulo 1s ease-out forwards;
        /* Nombre, duración, tipo, estado final */
    }




h2 {
    color: #fff;
    text-align: center;
    font-family: Noto sans;
    background-color:rgba(15, 25, 35, 0) ;
}

img {
    width: 100%;
    height: auto;
}

/* img {
    view-timeline-name: ---image;
    view-timeline-axis: block;

    animation-timeline: ---image;
    animation-name: show;
}
    */



footer{
    color: #fff;
}



/* cabecera*/

div.logo{
    height:  50px;
}

div.logo svg{
    height:  50px;
    padding: 8px;
}

div.logo img{
    height:  50px;
}

a.logo{
    text-decoration: none;
}

h2.logo {
    font-size: 30px;
    padding: 8px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

/* sección sobremi */

h2.sobremi {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    color: #fff;
    text-align: center;
    float: left;
    font-size: 50px;
    /* opacity: 0; */
    margin-top: 20px;
    margin-bottom: 70px;
}

h2.sobremi {
    view-timeline-name: ---image;
    view-timeline-axis: block;
    animation-timeline: ---image;
    animation-name: fadeInSlideUpp;
}

p.sobremi {
    color: #fff;
    text-align: left;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 100px;
    width: 50%;
}
article.puntosfuertes{
    display: flex;
    flex-direction: column; 
    border: #fff 1px;
    border-style: solid;
    width: 600px;
    border-radius: 5px;
    padding: 15px;
    gap: 2rem;
}
article.puntosfuertes h2{
    font-size: 1.5rem;
}
article.puntosfuertes p{
    font-size: 1rem;
    color: #fff;
}
/* sección misproyectos */

h2.misproyectos{
    color:#fff;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    margin-bottom: 10px;
}

h2.misproyectos{
    view-timeline-name: ---image;
    view-timeline-axis: block;
    animation-timeline: ---image;
    animation-name: fadeInSlideUpp;
}

p.misproyectos{
    margin-top: 20px;
    color: rgb(15, 25, 35);
    text-align: center;
    font-size: 20px;
    width: 100%;
    background-color: slategray;

}




    /* apartado de los div para separar */

.inicioasobremi{
    height: 400px;
}

/* .sbrmdetituloaparrafo{
    width: 100%;
    height: 150px;
} */

.sobremiaproyectos{

    height: 300px;
}

/* .mspryctsdetituloaparrafo {
    background-color: slategray;
    height: 300px;
} */

.final {
    background-color: slategray;
    height:200px; 
}

 /* menu */

    #menu {
        margin-right: 10px;
        float: right;
        display: block;
        /* Muestra el elemento por defecto */
    }

    #menu ul {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    #menu ul li {
        position: relative;

    }

    #menu ul button {
        display: block;
        background-color: rgb(15, 25, 35);
        color: #fff;
        text-decoration: none;
        font-weight: 240;
        font-size: 14px;
        padding: 8px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
    }
    #menu ul a {
        display: block;
        color: #fff;
        text-decoration: none;
        font-weight: 240;
        font-size: 14px;
        padding: 8px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
    }

    #menu ul li :hover {
        color: #5b78a7;
    }



 /* menu desplegable */

    #minimenu {
        width: 7.9%;
        border-radius: 8px;
        display: none;
        /* Oculta el elemento por defecto */
    }

    #minimenu ul {
        list-style: none;
        background-color: #1c345a;
        border-radius: 8px;
    }

    #minimenu ul li {
        background-color: #1c345a;
        position: relative;
        float: right;
        border-radius: 8px;
    }

        #minimenu ul button {
        color: #fff;
        text-decoration: none;
        font-weight: 240;
        font-size: 15px;
        padding: 9px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        background-color: #1c345a;
        border-radius: 8px;
        width: 150px;
    }

    #minimenu ul li svg  {
        transition: transform 0.3s;
    }
    #minimenu ul li :focus-within svg  {
        transform: rotate(90deg);
    }

    #minimenu ul li :hover {
        background-color: #5b78a7;
    }

    #minimenu ul ul {
        display: flex;
        flex-direction: column;
        top: 100%;
        left: 0;
        background: rgb(28, 52, 90);
        /* Propiedades para la transición */
        max-height: 0;
        /* Oculto por defecto */
        overflow: hidden;
        /* Oculta el contenido que excede el max-height */
        transition: max-height 0.3s ease-out;
        /* Transición para max-height */
    }

    #minimenu ul ul li {
        float: none;
        width: 150px;
    }

    #minimenu ul ul a {
        display: block;
        color: #fff;
        text-decoration: none;
        font-weight: 240;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        background-color: #1c345a;
        border-radius: 8px;
        line-height: 120%;
        padding: 9px 15px;
    }
        #minimenu ul ul button {
        display: block;
        color: #fff;
        text-decoration: none;
        font-weight: 240;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        background-color: #1c345a;
        border-radius: 8px;
        line-height: 120%;
        padding: 9px 15px;
    }

    #minimenu ul li:focus-within ul {
        max-height: 300px;
    }
 
    /* apartado id */

#Inicio{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#Inicio div.subtitulo{
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding: 20px;
    animation: animaciotitulo 1s ease-out forwards;
}
#Inicio div.subtitulo h2{
    font-size: 1.2rem;
    margin-top: 1px;
}
#Inicio div.subtitulo img{
    width: 20px;
    margin-left: 20px;
}

#sobremi{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 3rem;
}
#sobremi main.qsoy{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#sobremi main.caracteristicas{
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

#sobremi img{
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
}


#misproyectos{
     width: 100%;
     padding-top: 3rem;
}

#misproyectos main{
    background-color: slategray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
#misproyectos img{
    width: 200px;
}



/* apartado de la decoración de la portada */


.Inicio{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Inicio div{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.Inicio div div{
    background-color: slategray;
}

.Inicio div div {
    animation: anima 1.5s ease-out forwards;
}

.Inicio div.a{
    width: 45px;
    height: 45px;
    margin: 22px;
}

.Inicio div.b{

    width: 40px;
    height: 40px;
    margin: 20px;
}
.Inicio div.c{
    width: 35px;
    height:35px;
    margin: 18px;
}
.Inicio div.d{
    width: 30px;
    height: 30px;
    margin: 16px;
}

.Inicio div.e{
    width: 25px;
    height:25px;
    margin: 14px;
}

.Inicio div.f{
    width: 20px;
    height: 20px;
    margin: 12px;
}

.Inicio div.g{
    width: 15px;
    height: 15px;
    margin: 10px;
}

/* decoración (versión para moviles) */

.Iniciomovil {
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.Iniciomovil div.b{
    background-color: rgb(15, 25, 35);
}

.Iniciomovil div.c{
    background-color: slategray;;
}

.Iniciomovil div{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Iniciomovil .lineaa div{
    width: 100%;
    height: 90px;
}

.Iniciomovil .lineab div{
    width: 100%;
    height: 70px;
}

.Iniciomovil .lineac div{
    width: 100%;
    height: 50px;
}
.Iniciomovil .linead div{
    width: 100%;
    height: 30px;
}

.Iniciomovil .lineae div{
    width: 100%;
    height: 10px;
}


    

/* que se muestra en diferentes formatos*/


@media (max-width: 768px) {
    #menu {
        display: none;

    }

    #minimenu {
        display: block;

    }
    .Inicio {
        display: none;
    }
    .Iniciomovil{
        display: flex;
    }

    
    #sobremi main.qsoy{
        flex-direction: column-reverse;
    }
    #sobremi img {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    p.sobremi {
        width: 94%;
        margin-left: 0;
        text-align: center;
        margin-left: 3%;
        margin-right: 3%;
    }

    article.puntosfuertes{
    width: 80%;

}

    
}

/* animaciones keyframe (apartado no dado en clase) */

    @keyframes animaciotitulo {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

/* @keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
} */

@keyframes fadeInSlideUpp {
    from {
        opacity: 0;
        transform: translateY(-400px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}

 @keyframes anima {
    from {
        opacity: 0;
        margin-right: 200px;
    }

    to {
        opacity: 1;
    }
} 



